@model FiltersAndLogIn.Models.User
@{
    ViewBag.Title = "Login";
}
<!--MVC HtmlHelper 提交到当前页面-->
@using (Html.BeginForm())
{<!--.net MVC的框架下，防護CSRF攻擊的方法-->
    @Html.AntiForgeryToken()
    <!--表單水平-->
    <form action="@Url.Action("Login","Account")" method="post">
        <table style="border-collapse:separate; border-spacing:10px 10px;">
            <tr>
                <td>
                    <h2>Login</h2>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><label for="UserId">請輸入使用者ID</label></td>
                <td><input type="text" name="UserId" id="UserId"></td>
            </tr>
            <tr>
                <td></td>
                <td><label for="UserPassword">Password</label></td>
                <td><input type="password" name="Password" id="UserPassword"></td>
            </tr>
            <tr>
                <td></td>
                <td><button style="background-color: #337AB7; color: white; border-radius:5px">登入</button></td>
                <td></td>
            </tr>
        </table>
    </form>
}